        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 110vh;
            background: #e8f6ff;
            padding: 20px;
        }

    
        #HeaderForm {
            font-size: 1.3em;
            margin-bottom: 10px; 
            color: #333;
        }

        .form-container {
            background: white;
            padding: 20px;
            border-radius: 24px;
            box-shadow: 0 15px 15px #8AD3FF;
            width: 100%;
            max-width: 800px;
            text-align: center;
            
        }
        .Aspirasiku {
            transition: transform 200ms;
        }
        .Aspirasiku:hover {
            transform: rotate(30deg) scale(1.4);
        }

        textarea {
            width: 100%;
            height: 35vh;
            max-height: 300px;
            max-width: 300px;
            border: none;
            font-size: 16px;
            padding: 18px;
            border-radius: 16px;
            min-height: 160px;
            background-color: white;
            transition: all 0.3s ease;
            box-shadow: 0 0 8px inset rgba(43, 75, 255, 0.2);
            resize: vertical;
            display: block;
        }

        textarea:focus {
            outline: none;
        }

    
        button {
            width: 100%;
            max-width: 300px;
            height: 100%;
            background: #03abff;
            color: white;
            border: none;
            border-radius: 15px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: transform 0.2s, background 0.3s;
            -webkit-tap-highlight-color: transparent;
        }

        button:hover {
            background: white;
            color: #03abff;
            border: 2px solid #03abff;
            transform: scale(0.96);
        }

        button:disabled {
            background: white;
            color: #03abff;
            border: 2px solid #03abff;
            cursor: not-allowed;
            transform: none;
        }

        .button-area {
            height: 50px;
            width: 100%;
            display: flex;
            border-radius: 15px;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 20px;
        }
        
    @media (max-width: 480px) {
    button {
        width: 100%;
    }
    .form-container {
        padding: 15px;
    }
}